body {
	width: 100%;
	font-family: "Trebuchet MS";
	background-color: #FFD400;

	display: flex;
	justify-content: center;
}

.pageContainer {
	display: flex;
	flex-flow: column;
	align-items: center;
}

#ttl {
	text-align: center;
	color: #C0B283;
	font-weight: 300;
	font-size: 37px;
}

#imgTitle {
	height: 15%;
	width: auto;
	margin-top: 2%;
}

#info {
	text-align: left;
	color: #373737;
	font-size: 15px;
	margin: 3% 5% 1% 5%;
}

.pitch {
	margin: 10px;
	color: #1A3F59;
}

#contentContainer {
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

#canvasContainer {
	height: 480px;
	width: 470px;
	background-color: #FFC603;
	display: flex;
	flex-flow: column;
	align-items: center;
}
#cutePen {
	width: 100px;
	height: auto;
}

#meter {
	margin: 0 20px 20px 20px;
	background-color: white;
	height: 450px; 
	width: 450px; 
	border: 1px solid #000000;
}
 /* ttl: C0B283
    text: DCD0C0
