body {
	width: 100%;
	font-family: "Trebuchet MS";
	background-color: #FFD400;

	display: flex;
	justify-content: center;
}
.pageContainer {
	display: flex;
	flex-flow: column;
	align-items: center;
}
#ttl {
	text-align: center;
	color: #C0B283;
	font-weight: 300;
	font-size: 37px;
}
#imgTitle {
	height: 15%;
	width: auto;
	margin-top: 2%;
}
#info {
	text-align: left;
	color: #373737;
	font-size: 15px;
	padding-bottom: 5%;
}
.pitch {
	font-size: 20px;
	color: #1A3F59;;
	padding: 7px;
}
#contentContainer {
    display: flex;
    align-items: left;
    padding-top: 3%;
    position: relative;
}
#explanation {
	padding-right: 20px;
	width: 400px;
	color: #373737;
}
#canvasContainer {
	height: 560px;
	width: 540px;
	background-color: #FFC603;
	display: flex;
	flex-flow: column;
	align-items: center;
	border-style: solid;
	border-color: #1A3F59;
	border-width: 3px;
	border-radius: 5px;
}
#figureContainer {
	position: absolute;
  	bottom: 0;
  	right: 0;
}
#cutePen {
	width: auto;
	height: 150px;
}
#meter {
	margin: 0 20px 20px 20px;
	background-color: white;
}
